.vacancyContainer {
  display: flex;
  flex-direction: column;
  gap:16px;
}

.NotFoundVacancy,
.loading {
  width: 659px;
  height: 248px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 12px;
  font-size: 15px;
  font-weight: 500;
}